/*
Gradient for light top and dark bottom for background image:
linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5))

Star-shaped div:
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
Half-star-shaped div:
clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

*/

#restaurant_detail {
    display: grid;
    grid-template-rows: 34vh 33vh 33vh;
}

/* ------------------------------------------ */
/* Top third of the screen */
#topthird {
    grid-row: 1;
    /* default bg image to load if database doesn't have one */
    background-image: url("../images/default_img.png");
    background-position: center;
    opacity: 100%;
}

#backbutton {
    font-size: 30pt;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    color: white;
}

#backbutton:hover {
    cursor: pointer;
}

#name_and_stars {
    position: relative;
    width: max-content;
    top: 70%;
    left: 5%;
}

#restaurant_name {
    padding: 0px;
    margin: 0px;
    font-size: 20pt;
    color: white;
    padding-bottom: 0;
}

#star1, #star2, #star3, #star4, #star5 {
    display: none;
}

.star {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
} 

.half_star {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: gold;
    clip-path: polygon(50% 0%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

/* ------------------------------------------ */
/* Middle third of screen */
#midthird {
    grid-row: 2;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 50% 50%;
    background-color: #9AD1D4;
}

#keywords {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin-top: 10px;
    margin-left: 15px;
}

#contact_and_location {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-rows: 50% 50%;
}

#contactinfo p {
    font-size: 10pt;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-overflow: ellipsis;
}

#location {
    padding-left: 10px;
}

#location p {
    margin-top: 0;
    margin-bottom: 0;
}

#hours {
    grid-row: 2;
    grid-column: 2;
}

#open_or_closed {
    margin-bottom: 0;
    margin-top: 0;
}

#email {
    font-size: 8pt;
}

/* ------------------------------------------ */
/* Bottom third of screen */
#botthird {
    grid-row: 3;
    background-color: #9AD1D4;
    height: max-content;
    padding-bottom: 12vh;
}

#display_reviews {
    padding-top: 3%;
}

#display_reviews > p {
    padding-top: 10px;
    font-size: 18pt;
    text-align: center;
}

#review_buttons {
    background-color: #9AD1D4;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}

#review_button, #more_reviews {
    width: 150px;
    height: 40px;
}

/* ------------------------------------------ */
/* Review popup */
#review_form {
    display: none;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

#review_content {
    background-color: white;
    margin: 15% auto;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 85%;
}

#review_star1, #review_star2, #review_star3, #review_star4, #review_star5 {
    display: inline-block;
    width: 26px;
    height: 26px;
    background-color: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

textarea {
    resize: none;
    width: 95%;
}

/* ------------------------------------------ */
/* Review card */
.review_card {
    display: grid;
    width: 85vw;
    height: 200px;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 50% 50%; 
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 11pt;
}

.review_card_name, .review_card_date {
    padding-top: 2px;
    padding-left: 10px;
    background-color: #89cff0;
    border-bottom: 1px solid black;
}

.review_card_text {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 2% 2%;
}

.review_card_text > p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.review_star {
    grid-row: 3;
    padding-left: 3%;
}