@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Noto+Sans:wght@200;400&family=Open+Sans&display=swap');

body {
    background-color: #9AD1D4;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

#logo-font {
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
    font-size: 50pt;
    color: white;
    margin-bottom: 30px;
}

#quote-goes-here {
    color: white;
}

body{
    background-color:#9AD1D4 ;
}