body {
    background-color: #9AD1D4;
    /* overflow-x: hidden; */
    height: fit-content;
    margin: 0;
    padding: 0;
}

#reviewcard {
    height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 320px;
}

.container_centered {
    display: flex;
    justify-content: center;
    /* position: relative; */
    width: 90vw;
    height: 30vh;
}

.responsive {
    width: 100vw;
    height: auto;
}

.container {
    display: grid;
    height: 100vh;
    margin-left: -8px;
    grid-template-rows: max-content max-content 1fr;
    background-color: #9AD1D4;
}

#Welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    font-size: 20pt;
    border: #281C31;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
}

.timetext {
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#img {
    height: 20vh;
}

.card {
    color: #281C31;
    height: fit-content;
}

.card-body {
    margin: 1.5%;
    padding: 2%;
    align-items: center;
    font-size: 15pt;
}

#reviewsection {
    grid-area: "community";
    display: flex;
    flex-direction: row;
    width: 98vw;
    margin: 0%;
    padding-top: 10%;
}

#buttonPrev {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#previous{
    width: 50%;
}

#buttonNext {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {  
    text-align: center;
}

.texttitle {
    font-size: 12pt;
}

.text {
    font-size: 5pt;
}

.navbar {
    width: 100vw;
}

#content1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 99vw;
    padding-bottom: 10vh;
}

.card-text {
    font-size: 11pt;
}

#topcard {
    height: fit-content;
}
