body {
    background-color: #b60c05;
}

.container_centered {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90vw;
    height: 30vh;
    margin: auto;
}
.timetext {
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restaurant-goes-here {
    width: 100vw;
    height: max-content;
    padding-top: 5%;
    padding-bottom: 28%;
}

#topcard:hover {
    cursor: pointer;
}

#img {
    height: 20vh;
}

.bcontent {
    margin-top: 10px
}

.container {
    height: 100vh;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr;
    padding-bottom: 100px;
}

.texttitle {
    font-size: 13pt;
}

.text {
    font-size: 5pt;
}

#topcard {
    margin-top: 50px;
}

.center {  
    text-align: center;
}

#search {
    width: 100vw;
    position: fixed;
    top: 0;
}

.card{
    background-color: #FF7F50;
}
